[Unit]
Description=Node Abstraction Layer Daemon
After=network.target

[Service]
Environment="PYTHONPATH=/opt/:${PYTHONPATH}"
ExecStart=/usr/bin/python -m observer

[Install]
WantedBy=multi-user.target